<div class="row">
	<div class="row"></div>

	<div class="col l4">
		<!-- item picture -->
		<div class="card">
            <div class="card-image">
              <img src="images/yeoman.png">
            </div>
            <div class="card-content">
              <h4>Item Name</h4>
            </div>
          </div>
	</div>

	<div class="col l8">
		<div class="row">
			<h3>Item Name</h3>
			<h4>Price: {{itemC.inventory["itemId":itemC.id].price}}</h4>
			<h4>Seller: {{seller}} | <span>Rating: {{rating}}</span> </h4>

			<h4>Description:</h4>
			<h5>description_long</h5>
		</div>
	</div>
</div>