<div>
  <h1 align = "center">Welcome to SailBought!</h1>
  <h3 align = "center">Meet the Date-A-Face team</h3>


  <img src="images/varun.png" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
  <p style="clear: both;">
  <h5> Varun </h5>
  <img src="images/andy.png" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
  <p style="clear: both;">
  <h5> Andy </h5>	
  <img src="images/michelle.png" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
  <p style = "clear: both;">
  <h5> Michelle </h5> 
  <img src="images/arpit.png" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
  <p style="clear: both;">
  <h5> Arpit </h5>	


</div>